@model TLC_WebApp.Models.GameBoard

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GameBoard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TopLeft)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TopLeft)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TopMiddle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TopMiddle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TopRight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TopRight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleLeft)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleLeft)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleMiddle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleMiddle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleRight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleRight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BottomLeft)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BottomLeft)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BottomMiddle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BottomMiddle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BottomRight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BottomRight)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
