@model TLC_WebApp.Models.GameBoard
    <link rel="stylesheet" href="~/css/GameDesign.css" type="text/css" />
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameBoard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TopLeft)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TopLeft)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TopMiddle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TopMiddle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TopRight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TopRight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleLeft)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleLeft)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleMiddle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleMiddle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleRight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleRight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BottomLeft)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BottomLeft)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BottomMiddle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BottomMiddle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BottomRight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BottomRight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
